<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTSLibrary.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-0T8S0NQ\SQLEXPRESS01;Initial Catalog=wm75;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
